nav {
  width: 20vw;
  /* background: yellow; */
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 5px 0 5px 20px;
  font-weight: bold;
  color: #464646;
  line-height: 3;
}