.appointments-page {
  height: 100vh; 
  background-color: #97bf0f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointments-page .content {
  width: 50vw;
}

.back-btn {
  position: absolute;
  top: 50px;
  right: 150px;
  background: transparent;
  color: white;
  border: 1px solid #fff;
  padding: 1em 2em;
}