.book-page {
  /* width: 100vw; */
  height: 100vh;
  background-color: #97bf0f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-page h4 {
  text-transform: uppercase;
}

.book-page button {
  color: #97bf0f;
}

.book-page .content {
  width: 50vw;
}
