body {
  font-family: 'Fira Sans', sans-serif;
}

.subContainer{
  height: 768px;
  /* background-color: rgb(201, 197, 197); */
}
.logoNavContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoContainer {
  /* background-color: red; */
  height: 160px;  
  font-weight: bold;
  font-size: 30px;
}

.latestModels{
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer{
  /* background-color: blanchedalmond; */
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleDoctors{
  font-weight: bolder;
  font-size: 45px;
}

.titleDoctorsDescription{
  font-weight: bold;
  font-size: 18px;
  color: rgb(202, 199, 199);
}

.listDoctors{
  width: 100%;
  /* background-color: burlywood; */
  height: 350px;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}

.container2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.carousel-inner{
  background-color: white;
}

.containerCarousel {
  /* background-color: white; */
  background-color: coral;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  display: flex;
  flex-direction: row; 
}

.doctorBanner{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: yellowgreen;
  height: 100%;
  justify-content: center;
  align-items: center;  
}

.nameDoctor{
  /* background-color: red; */
  width: auto;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.descriptionDoctor{
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: rgb(202, 199, 199);
}