body {
  font-family: 'Fira Sans', sans-serif;
}

.subContainer{
  height: 768px;
  /* background-color: rgb(201, 197, 197); */
}
.logoNavContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoContainer {
  /* background-color: red; */
  height: 160px;  
  font-weight: bold;
  font-size: 30px;
}

.latestModels{
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer{
  /* background-color: blanchedalmond; */
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleDoctors{
  font-weight: bolder;
  font-size: 45px;
}

.titleDoctorsDescription{
  font-weight: bold;
  font-size: 18px;
  color: rgb(202, 199, 199);
}

.listDoctors{
  width: 100%;
  /* background-color: burlywood; */
  height: 350px;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}

.container2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.carousel-inner{
  background-color: white;
}

.containerCarousel {   
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  display: flex;
  flex-direction: row; 
}

.doctorBanner{
  display: flex;
  flex-direction: column;
  width: 33%;  
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;  
  text-decoration: none;
}

.nameDoctor{  
  width: auto;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.descriptionDoctor{
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: rgb(202, 199, 199);
}

.latestModelsDetails{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titleContainerDetails{
  /* background-color: blanchedalmond; */
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.imgDoctorDetail {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  width: 60%;
}

.doctorsDetails {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 25%;
  height: auto;
}

.nameExperience {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.titleDoctorsDetails{
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
}

.spacilization {
  font-weight: 300;
  font-size: 17px;
}

.biography {
  /* background-color: antiquewhite; */
  font-weight: bolder;
  font-size: 15px;
}

.discoverMore {
  font-size: small;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  /* background-color: #777; */
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 20px ;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(139, 236, 120, 0.2);
  border-right: 1.1em solid rgba(139, 236, 120, 0.2);
  border-bottom: 1.1em solid rgba(139, 236, 120, 0.2);
  border-left: 1.1em solid #72b619;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btnAppoitment {
  width: 100%;
  background-color: #72b619;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.datePickerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rebeccapurple; */
  height: 70px;
}

.datePickerLabel {
  font-weight: bold;
  font-size: 15px;
}

.datePicker {
  width: 100%;
  display: flex;
  flex-direction: column;  
}