.subContainer{
  height: 768px;
  background-color: rgb(201, 197, 197);
}
.logoNavContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: aqua;
}

.logoContainer {
  /* background-color: red; */
  height: 160px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.latestModels{
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer{
  background-color: blanchedalmond;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listDoctors{
  width: 100%;
  background-color: burlywood;
  height: 350px;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}

.container2{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}